stages:
  - deploy

image: lsfiege/laravel-php:8.1

before_script:
  - apt-get install -y wget curl zip
  - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
  - unzip awscliv2.zip
  - ./aws/install
  - rm -rf awscliv2.zip aws

production-deploy:
  stage: deploy
  script:
    - aws configure set default.region ${AWS_REGION}
    - aws deploy push --application-name ${AWS_CODEDEPLOY_APP} --s3-location s3://${AWS_CODEDEPLOY_S3_BUCKET}/packages/${CI_COMMIT_SHA}.zip 
    - aws deploy create-deployment --application-name ${AWS_CODEDEPLOY_APP} --s3-location bucket=${AWS_CODEDEPLOY_S3_BUCKET},key=packages/${CI_COMMIT_SHA}.zip,bundleType=zip --deployment-group-name ${AWS_CODEDEPLOY_GROUP}
  when: manual

